In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pyreadstat
#conda install -c conda-forge pyreadstat

In [2]:
data = pd.read_spss("C:/python_DA/data/KCYPS2010_1.sav")
data

,ID,SCLIDw1,PANELw1,WAVEw1,SURVEY1w1,SURVEY2w1,WEIGHT1w1,GENDERw1,PARENTw1,BRT1Aw1,...,EDZ07I1w1,EDZ07I2w1,EDZ08I1w1,EDZ08I2w1,EDZ09I1w1,EDZ09I2w1,EDZ10I1w1,EDZ10I2w1,EDZ11I1w1,EDZ11I2w1
0,15301.0,53.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,403.099038,남자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15302.0,53.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,470.678332,여자,아버지,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15303.0,53.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,403.099038,남자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15304.0,53.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,470.678332,여자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15305.0,53.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,403.099038,남자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2337,168820.0,1688.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,87.186517,남자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2338,168821.0,1688.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,87.186517,남자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2339,168822.0,1688.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,80.417385,남자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340,168823.0,1688.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,89.922226,여자,아버지,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2341,168824.0,1688.0,초1 패널,1차 조사(2010년),조사 성공,조사 성공,82.940694,여자,어머니,2003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data = pd.read_spss("C:/python_DA/data/KCYPS2010_7.sav")
data[data["PANELw7"]=="초4패널"]

Empty DataFrame
Columns: [ID, SCLIDw7, PANELw7, WAVEw7, SURVEY1w7, SURVEY2w7, WEIGHT1w7, WEIGHT2w7, GENDERw7, PARENTw7, BRT1Aw7, BRT1Bw7, BRT2Aw7, BRT2Bw7, BRT2Cw7, ARA1Aw7, ARA1Bw7, ARA2Aw7, ARA2Bw7, ARA2Cw7, HOUSEw7, SCHOOLw7, GRADEw7, COEDUw7, HAK2Aw7, HAK2Bw7, HAK2Cw7, JOB1Aw7, JOB1Bw7, JOB1Cw7, JOB4Aw7, JOB4Bw7, JOB4Cw7, JOB5Aw7, JOB5Bw7, JOB5Cw7, INCOMEw7, INCOME1w7, PAR1w7, PAR2w7, PHY1Aw7, PHY1Bw7, PHY2Aw7, PHY2Bw7, PHY3Aw7, PHY3Cw7, PHY4A01w7, PHY4A02w7, PHY4A03w7, PHY4A04w7, PHY4A05w7, PHY4A06w7, PHY4A07w7, PHY4B01w7, PHY4B02w7, PHY4B03w7, PHY4B04w7, PHY4B05w7, PHY4B06w7, PHY4B07w7, INT1A01w7, INT1A02w7, INT1A03w7, INT1A04w7, INT1A05w7, INT1A07w7, INT1A08w7, INT1A09w7, INT1A10w7, INT1A11w7, INT1B01w7, INT1B02w7, INT1B03w7, INT1B04w7, INT1B05w7, INT1B07w7, INT1B08w7, INT1B09w7, INT1B10w7, INT1B11w7, INT1C01w7, INT1C02w7, INT1C03w7, INT1C04w7, INT1C05w7, INT1C07w7, INT1C08w7, INT1C09w7, INT1C10w7, INT1C11w7, INT1Dw7, INT1Ew7, INT2A01w7, INT2A02w7, INT2A03w7, INT2A04w7, INT2A05w7, INT2A06w7, INT2A07w7, INT2B01w7, ...]
Index: []

[0 rows x 514 columns]